#nav-menu {
    background-color: var(--color-background-accent);
    border-bottom: 2px solid var(--color-accent-light);
}

#nav-menu > ul {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    justify-content: center;
    list-style: none;

    color: var(--color-accent-medium);
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    #nav-menu > ul {
        font-size: 1.8rem;
        gap: 0rem;
        justify-content: space-around;

    }
}

