.social-bar {
    padding-top: 6px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-bar > a > img {
    width: 32px;
    height: 32px;
}

.social-bar > a > svg {
    width: 32px;
    height: 32px;
}

.social-bar > * {
    transform: scale(1) rotate(0);
    transition-duration: 0.2s;
}

.social-bar > *:hover {
    filter: brightness(1.3);
    transform: scale(1.2) rotate(20deg);
    transition-duration: 0.2s;
}

.social-bar > a {
    width: 32px;
    color: var(--color-accent-light);
}